<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container">
            <div class="row">
                <div class="col col-sm-12 d-flex">
                    <button *ngIf="canGoBack" class="btn-go-back" mat-button (click)="clickGoBack()">
                        <mat-icon>arrow_back_ios</mat-icon>
                    </button>
                    <span>{{navbarTitle}}</span>
                    <span class="spacer"></span>
                    <!-- <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" (click)="onClickExit()">exit_to_app</mat-icon> -->
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>