<h2>Add a muscle</h2>
<form [formGroup]="muscleForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
    </div>
    <div>
        <!-- <mat-form-field>
            <mat-label>Workout</mat-label>
            <mat-select>
                <mat-option *ngFor="let workout of workouts$ | async" [value]="workout">
                    {{workout.name}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
    <div class="text-center">
        <button type="submit" mat-raised-button color="primary">Add</button>
    </div>
</form>