<!-- <mat-action-list>
    <button mat-list-item (click)="handleClickItem('programmes')">Programmes</button>
    <button mat-list-item>Module 2</button>
    <button mat-list-item>Module 3</button>
</mat-action-list> -->
<div class="mt-4">
    <mat-card (click)="handleClickItem('programmes')">
        <img mat-card-image src="assets/images/workout-274x274.png" alt="programme">
        <mat-card-header>
            <mat-card-title>Programmes</mat-card-title>
            <mat-card-subtitle>Create programmes, workouts and exercises to achieve yours goals.</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>