@import '~@angular/material/theming';
@include mat-core();

mat-card{
    margin-top: 15px;

    mat-card-header{
        width: 100%;
        margin: 0 -16px;
        .btn-more{
            position: absolute;
            right: 16px;
            top: 8px;
        }

        mat-card-title{
            cursor: pointer;
        }
    }

    mat-card-actions{
        display: flex;
        padding-left: 16px;
        padding-right: 16px;

        button{
            margin-left: auto;

        }
    }

}
