/* You can add global styles to this file, and also import other style files */
// primary-color: #343a40
@import 'assets/theme/theme.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #fff;
}

h1, h2{
    font-weight: 400;
    margin: 0px;
}

button:focus{
    border: none;
    outline: none;
}

mat-action-list{
    background-color: #fff;
    margin-top: 10px;
}